:root { 
--gray_500:#8f8fa5; 
--blue_gray_100:#cfd0e3; 
--blue_A400:#1877f2; 
--blue_gray_600:#585981; 
--blue_500:#1da1f2; 
--gray_900:#110229; 
--light_blue_400:#1dadff; 
--teal_50:#dff0f7; 
--gray_300:#dbdbea; 
--gray_500_51:#8f8fa551; 
--blue_100:#c3dfed; 
--white_A700:#ffffff; 
--pink_400:#eb3296; 
}